
@import "../../../shared.scss";

#TimeclockCard{
  
  background-color: #2d272752;
  width: 80%;
  max-width: 30rem;
  margin: 10px auto;
  font-size: 0.8em;
  font-family: $body-font;
  position: relative;
  top: 50%;

  // Bootstrap override
  .card{
    background-color: #ffffff08;
  }

  .card-title-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .card-title{
      font-family: $header-font;
      padding: 0 3%;
      font-weight: 600;
      font-size: 2em;
      &.active-focus{  
        color: #bb4798;
      }
      &.active-relax{  
        color: #ffc662;
      }
    }
  }

  #clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px #fc7b73,  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 24px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 12px;
        padding: 20px 0 0;
    }
}

}