
@import "../../../shared.scss";

#MessageCard{
  
  background: #2d272752;
  width: 100%;
  max-width: 30rem;
  margin: 10px auto;
  font-size: 0.8em;
  font-family: $body-font;

  // Bootstrap override
  .card{
    background-color: #ffffff08;
  }

  .card-title{
    font-size: 1.5em;
    font-family: $header-font;
  }

}