@import "../../shared.scss";

#navbarPage{
  font-family: $header-font;
  background: none;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  li a{
    color: white;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: #845EC2 solid 2px;
    }
  }

  .navbar-brand{
    color: white;
  }

  .home-icon{
    padding: 8px;
    color: white;
  }

  .logo-hamburger-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .link-container{
    max-width: 200px;
    min-width: 200px;
    width: 100%;
    float: right;
  }

  @media screen and (max-width: 990px) {
    // bootstrap override
    .navbar-collapse{
      background-color: #2d272752;
      width: 100%;
      max-width: 100%;
      margin: 10px auto;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
      &.show{
        background-color: #2d272752;
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
        
        li{
          width: 25%;
          margin: 0 auto;
        }

        a{
          width: 100%;
        }
      }
    }
  }
}